Repository z-shell/zi, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📝, ci 🤖

Add files via upload
  .github/ISSUE_TEMPLATE/documentation.yml
Labels: none

Add files via upload
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_codebase_improvement.yml
  .github/ISSUE_TEMPLATE/04_documentation.yml
Labels: none

Templates update (#82)
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_codebase_improvement.yml
  .github/ISSUE_TEMPLATE/04_documentation.yml
  docs/CODING_GUIDELINES.md
  docs/README.md
  docs/TODO.md
  lib/zsh/autoload.zsh
Labels: documentation 📝

Add files via upload
  docs/images/cloudflare_shell_logo.png
  docs/images/linode-z-shell.png
Labels: none

Update README.md
  docs/README.md
Labels: documentation 📝

Update README.md
  docs/README.md
Labels: documentation 📝

Update labels.yml
  .github/labels.yml
Labels: none

Update pr-labels.yml
  .github/workflows/pr-labels.yml
Labels: ci 🤖

Update README.md
  docs/README.md
Labels: documentation 📝

refactor(core): ♻️ OSTYPE group update
  lib/zsh/install.zsh
Labels: none

fix(core): 🩹 Choose pager only if available
  lib/zsh/autoload.zsh
Labels: none

refactor(core): 🚸 Improve updates log message
  lib/zsh/autoload.zsh
Labels: none

style: 🔧 Pull request template update
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

refactor(core): ⚡️ Additional architectures
  lib/zsh/install.zsh
Labels: none

Update 04_documentation.yml
  .github/ISSUE_TEMPLATE/04_documentation.yml
Labels: none

Delete documentation.yml
  .github/ISSUE_TEMPLATE/documentation.yml
Labels: none

perf(capability): ⚡️ Add windows WSL capabilities
  lib/zsh/install.zsh
Labels: none

perf(capability): ⚡️ Better arm support
  lib/zsh/install.zsh
Labels: none

Update apc.yml
  .github/workflows/apc.yml
Labels: ci 🤖

perf(capability): ⚡️Better arm/win support.
  lib/zsh/install.zsh
Labels: none

perf(core): 🚸 Respect current user branch.
  lib/zsh/autoload.zsh
Labels: none

.github/labeler.yml:

documentation 📝:
  - any: ["docs/**/*.md", "docs/*.md"]
ci 🤖:
  - any: [".github/workflows/*.yml"]
