Repository z-shell/zi, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📝, maintenance 📈, enhancement ✨, i18n 🌐, ci 🤖

misc(maintenance) modified: .github/CODEOWNERS modified: lib/zsh/autoload.zsh
  .github/CODEOWNERS
  lib/zsh/autoload.zsh
Labels: documentation 📝, maintenance 📈, enhancement ✨

modified: lib/zsh/autoload.zsh
  lib/zsh/autoload.zsh
Labels: documentation 📝, enhancement ✨

style(misc): 🎨 XDG/Store preps.
  lib/zsh/install.zsh
  zi.zsh
Labels: documentation 📝, enhancement ✨

misc(minor) modified: .trunk/.gitignore modified: .trunk/trunk.yaml modified: lib/zsh/install.zsh modified: lib/zsh/single-line.zsh
  .trunk/.gitignore
  .trunk/trunk.yaml
  lib/zsh/install.zsh
  lib/zsh/single-line.zsh
Labels: documentation 📝, maintenance 📈, enhancement ✨

fix(wrap ice) modified: lib/_zi modified: lib/zsh/additional.zsh
  lib/_zi
  lib/zsh/additional.zsh
Labels: documentation 📝, enhancement ✨

refactor(general): 🎨
  .gitattributes
Labels: documentation 📝, maintenance 📈

Update install.zsh
  lib/zsh/install.zsh
Labels: documentation 📝, enhancement ✨

Update install.zsh
  lib/zsh/install.zsh
Labels: documentation 📝, enhancement ✨

Update install.zsh
  lib/zsh/install.zsh
Labels: documentation 📝, enhancement ✨

refactor(maintenance): ⚡️ Fix messages output of update changes, git progress output is colorized based on the progress.
  lib/_zi
  lib/zsh/additional.zsh
  lib/zsh/autoload.zsh
  lib/zsh/git-process-output.zsh
  lib/zsh/install.zsh
  lib/zsh/rpm2cpio.zsh
  lib/zsh/single-line.zsh
  zi.zsh
Labels: documentation 📝, enhancement ✨

.github/labeler.yml:

documentation 📝:
  - "docs/**/*.md"
  - "community/**/*.md"
  - "ecosystem/**/*.md"
  - ".github/*.md"
  - "!.github/ISSUE_TEMPLATE/*"
maintenance 📈:
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - ".github/CODEOWNERS"
  - ".github/*.md"
  - ".github/*.yml"
  - ".github/*.yaml"
  - ".github/*.json"
  - ".github/**rc"
  - ".trunk/**"
  - ".vscode/**"
  - "crowdin.yml"
enhancement ✨:
  - "functions/**"
  - "src/**"
  - "lib/**"
i18n 🌐:
  - "i18n/**"
  - "docs/i18n/**"
ci 🤖:
  - ".github/workflows/*"
