Repository z-shell/zi, pull requests merged in 2021-12, with the labels that each got.

#37 Create main.yml
  .github/workflows/main.yml
Labels: documentation 📝, ci 🤖

#38 Wiki
  .github/workflows/wiki.yml
  docs/wiki/changelog.md
Labels: documentation 📝, ci 🤖

#39 +syntax|+performance
  .editorconfig
  .gitattributes
  .github/workflows/hello.yml
  .github/workflows/pr-labels.yml
  .github/workflows/wiki.yml
  .gitignore
  docs/Makefile
  docs/README.md
  docs/zsdoc/Makefile
  docs/zsdoc/README.md
  docs/zsdoc/additional.zsh.adoc
  docs/zsdoc/autoload.zsh.adoc
  docs/zsdoc/install.zsh.adoc
  docs/zsdoc/side.zsh.adoc
  docs/zsdoc/zi.zsh.adoc
  lib/_zi
  lib/templates/p10k
  lib/zsh/additional.zsh
  lib/zsh/autoload.zsh
  lib/zsh/git-process-output.zsh
  lib/zsh/install.zsh
  lib/zsh/side.zsh
  lib/zsh/single-line.zsh
  lib/zsh/ztransform
  zi.zsh
Labels: refactor ♻️, performance 🚀

#48 fix 'col-…'
  zi.zsh
Labels: bug 🐞

#50 Code style update (formatting, renaming)
  lib/zsh/autoload.zsh
Labels: maintenance 📈

#51 Install beta tryouts
  docs/README.md
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
  zi.zsh
Labels: refactor ♻️, performance 🚀

#52 Wiki
  .github/workflows/wiki.yml
  docs/wiki/Alternate-Ice-Syntax.md
  docs/wiki/Annexes.md
  docs/wiki/Bindkeys.md
  docs/wiki/Changelog.md
  docs/wiki/Code-Documentation.md
  docs/wiki/Compiling-programs.md
  docs/wiki/Direnv-explanation.md
  docs/wiki/Example-Minimal-Setup.md
  docs/wiki/Example-Oh-My-Zsh-setup.md
  docs/wiki/Example-wait-conditions.md
  docs/wiki/For-Syntax.md
  docs/wiki/GALLERY.md
  docs/wiki/Installing-with-make.md
  docs/wiki/Introduction.md
  docs/wiki/LS_COLORS-explanation.md
  docs/wiki/Multiple-prompts.md
  docs/wiki/Private-Repositories.md
  docs/wiki/Profiling-plugins.md
  docs/wiki/Sourcing-multiple-files.md
  docs/wiki/ZI-Packages.md
  docs/wiki/atload-and-other-at-ices.md
  docs/wiki/autoload.zsh.md
  docs/wiki/crasis.md
  docs/wiki/declare-zsh.md
  docs/wiki/extract-Ice.md
  docs/wiki/id-as.md
  docs/wiki/index.md
  docs/wiki/install.zsh.md
  docs/wiki/side.zsh.md
  docs/wiki/wrap-track.md
  docs/wiki/z-a-bin-gem-node.md
  docs/wiki/z-a-man.md
  docs/wiki/z-a-patch-dl.md
  docs/wiki/z-a-submods.md
  docs/wiki/z-a-test.md
  docs/wiki/zi.zsh.md
Labels: documentation 📝

#53 Wiki
  docs/zsdoc/Makefile
  docs/zsdoc/autoload.zsh.adoc
  docs/zsdoc/install.zsh.adoc
  docs/zsdoc/side.zsh.adoc
  docs/zsdoc/zi.zsh.adoc
Labels: documentation 📝

#54 Adds links to Wiki
  docs/README.md
Labels: documentation 📝

#57 Post test fix/adds
  .editorconfig
  .github/workflows/codeql.yml
  .github/workflows/lock.yml
  .github/workflows/pr-labels.yml
  .github/workflows/rebase.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/wiki.yml
  .github/workflows/zi-lint.yml
  .gitignore
  docs/CONTRIBUTING.md
  docs/README.md
  lib/_zi
  lib/templates/p10k
  lib/zsh/additional.zsh
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
  lib/zsh/rpm2cpio.zsh
  lib/zsh/side.zsh
  zi.zsh
Labels: documentation 📝, refactor ♻️, maintenance 📈

#61 +mtime | +col-
  .github/workflows/lock.yml
  .github/workflows/rebase.yml
  .github/workflows/stale.yml
  .github/workflows/wiki.yml
  .github/workflows/zsh-check.yml
  .gitignore
  docs/README.md
  docs/lint/.markdownlint.json
  zi.zsh
Labels: documentation 📝, performance 🚀

#62 integer | mtime fix
  .github/labels.yml
  .github/workflows/pr-labels.yml
  .github/workflows/stale.yml
  lib/_zi
  lib/zsh/autoload.zsh
  lib/zsh/zi.zsh
  zi.zsh
Labels: maintenance 📈

#63 Generic maintenance tasks
  .github/CHANNELS.md
  .github/CODEOWNERS
  .github/label-commenter-config.yml
  .github/labels.yml
  .github/templates/release-notes.yml
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
  .github/workflows/rebase.yml
  .github/workflows/zsh-check.yml
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/README.md
  docs/zsdoc/Makefile
  lib/git/hooks/post-checkout/README.md
  lib/git/hooks/post-checkout/post-checkout
  lib/git/hooks/pre-commit/.pre-commit-config.yaml
  lib/git/hooks/pre-commit/README.md
  lib/zsh/autoload.zsh
  lib/zsh/zi.zsh
Labels: documentation 📝, maintenance 📈

#66 General maintenance
  .github/workflows/apc.yml
  .github/workflows/stale.yml
  docs/README.md
Labels: documentation 📝, maintenance 📈

#67 Documentation minimal content changes + lint
  .github/CHANNELS.md
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_codebase_improvement.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/label-commenter-config.yml
  .github/labeler.yml
  .github/workflows/apc.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
  .github/workflows/pr-labels.yml
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/README.md
Labels: documentation 📝

#69 Issue 65 compatability issue with exa
  lib/zsh/autoload.zsh
Labels: maintenance 📈

#70 Workflows cleanup
  .github/workflows/codeql.yml
  .github/workflows/pr-labels.yml
  .github/workflows/sync-labels.yml
  docs/CONTRIBUTING.md
  docs/README.md
Labels: documentation 📝, ci 🤖

#71 ziextract - missing error handling fix #64
  lib/zsh/install.zsh
Labels: maintenance 📈

#72 Issue 64 dev ziextract missing error handling
  lib/zsh/install.zsh
Labels: maintenance 📈

#74 Update install links
  .github/workflows/zsh-check.yml
  docs/README.md
Labels: documentation 📝, new-feature 🎉

#75 Add submodules label
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/pr-labels.yml
  .github/workflows/zsh-check.yml
Labels: ci 🤖

#76 Add loader install
  docs/README.md
Labels: documentation 📝, enhancement ✨

#77 To wiki
  docs/README.md
Labels: documentation 📝

#79 some adds
  lib/zsh/autoload.zsh
Labels: maintenance 📈

#81 Supporters
  docs/README.md
Labels: documentation 📝, maintenance 📈

#82 Templates update
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_codebase_improvement.yml
  .github/ISSUE_TEMPLATE/04_documentation.yml
  docs/CODING_GUIDELINES.md
  docs/README.md
  docs/TODO.md
  lib/zsh/autoload.zsh
Labels: documentation 📝, maintenance 📈
