Repository z-shell/zi, pull requests merged in 2022-09, with the labels that each got.

#215 Replace egrep with grep -E
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
Labels: documentation 📝, enhancement ✨

#216 Update README
  docs/README.md
Labels: documentation 📝

#217 Trunk upgrade / lint
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/workflows/assign.yml
  .github/workflows/lock.yml
  .github/workflows/pr-labels.yml
  .github/workflows/rebase.yml
  .github/workflows/stale.yml
  .github/workflows/trunk-check.yml
  .github/workflows/zsh-n.yml
  .github/workflows/zunit.yml
  .markdownlint.yaml
  .prettierrc
  .trunk/.gitignore
  .trunk/trunk.yaml
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/images/favicon.svg
  docs/images/logo.svg
  lib/zsh/install.zsh
  svgo.config.js
Labels: documentation 📝, enhancement ✨, ci 🤖, maintenance 📈

#218 [fix]: Logo patch by @daudix-UFO
  docs/images/favicon.png
  docs/images/favicon.svg
  docs/images/logo.svg
  docs/images/logo_source.tar.gz
  docs/images/the_begining_source.svg
Labels: documentation 📝

#219 Update README.md
  docs/README.md
Labels: documentation 📝

#220 Update message formatter
  zi.zsh
Labels: new-feature 🎉, performance 🚀, maintenance 📈
