Repository z-shell/zi, pull requests merged in 2022-06, with the labels that each got.

#168 Readme update 05 31
  docs/README.md
Labels: documentation 📝

#166 improve consistency, accessibility
  docs/README.md
  lib/_zi
  lib/zsh/additional.zsh
  lib/zsh/autoload.zsh
  lib/zsh/git-process-output.zsh
  lib/zsh/install.zsh
  lib/zsh/side.zsh
  zi.zsh
Labels: documentation 📝, enhancement ✨

#170 Update README.md
  docs/README.md
Labels: documentation 📝

#178 Readurl api
  .github/.markdownlint.yaml
  .github/labeler.yml
  .github/workflows/trunk.yml
  .github/workflows/zsh-check.yml
  .trunk/.gitignore
  .trunk/trunk.yaml
  .vscode/settings.json
  docs/README.md
  lib/zsh/install.zsh
  zi.zsh
Labels: documentation 📝, enhancement ✨, ci 🤖, maintenance 📈

#176 maintenance, docs and messages
  .github/.markdownlint.yaml
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/rebase.yml
  .github/workflows/sync-labels.yml
  .github/workflows/trunk.yml
  .github/workflows/zsh-check.yml
  .trunk/.gitignore
  .trunk/trunk.yaml
  .vscode/settings.json
  docs/README.md
  lib/zsh/install.zsh
  zi.zsh
Labels: documentation 📝, enhancement ✨, ci 🤖, maintenance 📈

#179 ✨ maintenance, docs and messages
  .github/workflows/labeler.yml
  .github/workflows/rebase.yml
  .github/workflows/sync-labels.yml
  .github/workflows/trunk.yml
  .trunk/trunk.yaml
  docs/README.md
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
  zi.zsh
Labels: documentation 📝, enhancement ✨, ci 🤖, maintenance 📈

#180 ✨ workspace(lint + tests)
  .github/workflows/zunit.yml
  .gitignore
  .trunk/.gitignore
  .trunk/trunk.yaml
Labels: ci 🤖, maintenance 📈

#181 Next
  .github/comment-labels.yml
  .github/workflows/trunk.yml
  .github/workflows/zsh-check.yml
  .github/workflows/zunit.yml
  .trunk/trunk.yaml
Labels: ci 🤖, maintenance 📈

#182 ⭕ Trunk Merge
  .github/workflows/trunk.yml
Labels: ci 🤖

#184 💚 Optimise CI
  .github/.markdownlint.yaml
  .github/workflows/trunk.yml
  .github/workflows/zsh-n.yml
  .github/workflows/zunit.yml
  .trunk/trunk.yaml
  .vscode/settings.json
  docs/CONTRIBUTING.md
  docs/README.md
  docs/SECURITY.md
Labels: documentation 📝, ci 🤖, maintenance 📈

#186 [fix]: Message output of update changes.
  lib/zsh/autoload.zsh
Labels: enhancement ✨, fix ⚡
