Repository z-shell/zi, pull requests merged in 2022-04, with the labels that each got.

#136 Add a Gitter chat badge to README.md
  README.md
  docs/README.md
Labels: documentation 📝

#139 Zi module
  .github/workflows/sync-labels.yml
  lib/zsh/additional.zsh
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
  lib/zsh/side.zsh
Labels: performance 🚀, fix ⚡

#125 Update example-script
  lib/templates/example-script
Labels: refactor ♻️, maintenance 📈, plugin 🧿

#141 star
  .github/workflows/star.yml
Labels: ci 🤖

#137 Update zi.zsh
  .github/workflows/sync-labels.yml
  lib/zsh/additional.zsh
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
  lib/zsh/side.zsh
  zi.zsh
Labels: performance 🚀, fix ⚡

#154 Test parse speed
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
  zi.zsh
Labels: refactor ♻️, performance 🚀, maintenance 📈, triage 📑

#155 Internal performace (#154)
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
  zi.zsh
Labels: performance 🚀
