Repository z-shell/zi, pull requests merged in 2022-11, with the labels that each got.

#232 fix: 🎨 Correctly established directories.
  lib/zsh/install.zsh
  zi.zsh
Labels: documentation 📝, enhancement ✨

#234 Zpmod -> side
  lib/zsh/side.zsh
  zi.zsh
Labels: documentation 📝, enhancement ✨

#231 refactor: ♻️ Refactor ICEs array
  lib/_zi
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
  lib/zsh/side.zsh
  zi.zsh
Labels: documentation 📝, enhancement ✨

#235 Map Update
  lib/zsh/install.zsh
Labels: documentation 📝, enhancement ✨

#238 Prevent expansion in some lines in .zi-create func
  lib/zsh/autoload.zsh
Labels: documentation 📝, enhancement ✨

#233 Maintenance
  .editorconfig
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_codebase_improvement.yml
  .github/ISSUE_TEMPLATE/04_documentation.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/labeler.yml
  .github/workflows/zsh-n.yml
  .github/workflows/zunit.yml
  .prettierrc
  .trunk/.gitignore
  .trunk/config/.markdownlint.yaml
  .trunk/config/svgo.config.js
  .trunk/trunk.yaml
  .vscode/settings.json
  docs/CODE_OF_CONDUCT.md
  docs/SECURITY.md
  docs/images/logo.svg
  docs/images/the_begining_source.svg
  lib/templates/example-script
Labels: documentation 📝, enhancement ✨, ci 🤖, maintenance 📈

#239 Next
  .editorconfig
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_codebase_improvement.yml
  .github/ISSUE_TEMPLATE/04_documentation.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/labeler.yml
  .github/workflows/zsh-n.yml
  .github/workflows/zunit.yml
  .prettierrc
  .trunk/.gitignore
  .trunk/config/.markdownlint.yaml
  .trunk/config/svgo.config.js
  .trunk/trunk.yaml
  .vscode/settings.json
  docs/CODE_OF_CONDUCT.md
  docs/SECURITY.md
  docs/images/logo.svg
  docs/images/the_begining_source.svg
  lib/_zi
  lib/templates/example-script
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
  lib/zsh/side.zsh
  zi.zsh
Labels: documentation 📝, enhancement ✨, ci 🤖, maintenance 📈

#240 [perf/fix]: ✨ performance
  lib/_zi
  lib/templates/example-script
  lib/zsh/autoload.zsh
  lib/zsh/install.zsh
  lib/zsh/side.zsh
  zi.zsh
Labels: enhancement ✨

#242 fix(install): 🐛 Patch for @zi-register-annex
  zi.zsh
Labels: fix ⚡

#245 fix: Set/export manpath
  .trunk/trunk.yaml
  zi.zsh
Labels: enhancement ✨, maintenance 📈
